* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.3;
    color: #FFFFFF;
    background-color: #78B8C1;
    font-family: 'Source Code Pro', monospace;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

#hl-temp {
    font-size: 0.3em;
    margin:0;
}

.card {
    text-align: center;
    width: 23%;
    height: 26%;
    font-size: 1.1em;
}

.card-two{
    font-family: 'Roboto Mono', monospace;
    font-size: 7em;
}

.card-one {
    text-align: right;
}

h1 {

    text-align: center;
}

img {
    height: 70%;
    width: 70%;
}

#container > h1
{
    flex: 0 1 100%;
}

