#container {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}