* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    color: #FFFFFF;
    background-color: #78B8C1;
    font-family: 'Source Code Pro', monospace;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* height: 400px;
     align-items: center;*/
}

.card {
    text-align: center;
    width: 26%;
}

.card-two{
    font-family: 'Roboto Mono', monospace;
    font-size: 5.5em;
}

h1 {

    text-align: center;
}

#container > h1
{
    flex: 0 1 100%;
}

